ExpenseManagementClient/Connected Services/ExpenseServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ExpenseManagement/ExpenseService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" />
  <xs:element name="AddExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" minOccurs="0" name="expense" nillable="true" type="q1:ExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" minOccurs="0" name="AddExpenseResult" nillable="true" type="q2:ExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpenseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExpenseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" minOccurs="0" name="expense" nillable="true" type="q3:ExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" minOccurs="0" name="UpdateExpenseResult" nillable="true" type="q4:ExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSingleExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpenseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSingleExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" minOccurs="0" name="ViewSingleExpenseResult" nillable="true" type="q5:ExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" minOccurs="0" name="ViewAllExpenseResult" nillable="true" type="q6:ArrayOfExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>