ExpenseManagementClient/Connected Services/ExpenseServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExpenseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpenseAmount" type="xs:float" />
      <xs:element minOccurs="0" name="ExpenseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpenseDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpenseId" type="xs:int" />
      <xs:element minOccurs="0" name="ExpenseUserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpenseModel" nillable="true" type="tns:ExpenseModel" />
</xs:schema>