ExpenseManagementClient/Connected Services/PaymentServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExpenseManagement.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentAmount" type="xs:float" />
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentFromUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentToUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentModel" nillable="true" type="tns:PaymentModel" />
  <xs:complexType name="ArrayOfPaymentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentModel" nillable="true" type="tns:PaymentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentModel" nillable="true" type="tns:ArrayOfPaymentModel" />
</xs:schema>